{% set page = 'about' %}
{% extends "src/templates/base.html" %}

{% block content %}
  {% include "src/templates/includes/header.html" %}

  <main class="l-page__content">
    <section class="p-about">
      <div class="h-container">
        <div class="p-about__wrapper">
          <img src="/img/about-trucks.png" alt="Kd Transport Trucks" class="p-about__img h-img-fluid h-w-100">
          <div class="p-about__main">
            <h1 class="p-about__title t-section-heading">About Us</h1>
            <p class="p-about__content">
              At Kd Transport LLC, we're more than just a carrier company — we're a community dedicated to empowering both our employees and the owner-operators we partner with.  We don't just offer jobs; we offer careers filled with security, growth, and long-term opportunities.<br/><br/>
              We believe that the foundation of our success lies in the strength of our team, which is why we prioritize character and a strong work ethic above mere experience. Our operations are tailored to support both our employees and the owner-operators who choose to partner with us.<br/><br/>
              We understand the unique challenges of the trucking industry, and we are committed to providing the resources, training, and support needed for everyone in our network to thrive.  Whether you're an employee or an owner-operator, we invest in your success, ensuring that you have the tools and opportunities to grow, advance, and achieve your goals.<br/><br/>
              Our commitment extends beyond just our internal team. At Kd Transport LLC, our people, processes, and technology are designed to enhance global transportation and supply chains. By working closely with our owner-operators, we deliver exceptional value to our customers and partners. Together, we are driving the future of logistics, creating a supportive and thriving community for all.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include "src/templates/includes/footer.html" %}
{% endblock %}
