{% set page = 'index' %}
{% extends "src/templates/base.html" %}

{% block content %}
  {% include "src/templates/includes/header.html" %}

  <main class="l-page__content">
    <section class="p-index-hero c-full-bg">
      <div class="c-full-bg__block h-container">
        <div class="c-full-bg__block-wrapper p-index-hero__wrapper">
          <h1 class="p-index-hero__title">Welcome <br/> to KD Transport</h1>
          <p class="p-index-hero__content">Join us and let us help you reach new heights <br/> in your trucking career</p>
          <div class="h-hidden-desktop">
            <a href="#" class="c-btn c-btn--white">Apply as Owner Operator</a>
          </div>
        </div>
      </div>
      <div class="c-full-bg__bg p-index-hero__bg" style="background-image: url('/img/home-bg-truck-1.png'), linear-gradient(120deg, var(--c-primary) 50%, var(--c-yellow) 25%);"></div>
    </section>

    <section class="p-index-slider c-full-bg c-full-bg--right">
      <div class="c-full-bg__bg" style="background-image: url('/img/home-bg-truck-2.png')"></div>
      <div class="c-full-bg__block h-container">
        <div class="c-full-bg__block-wrapper">
          <div class="splide js-main-slider" aria-label="Main slider">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide p-index-slider__slide">
                  <h3 class="p-index-slider__title t-section-heading">
                    Welcome to KD Transport
                  </h3>
                  <p>
                    At Kd Transport LLC, we are committed to driving your success.
                    As a leading carrier company with a strong reputation, we provide top-notch support to both owner-operators and company drivers.
                  </p>
                </li>
                <li class="splide__slide p-index-slider__slide">
                  <h3 class="p-index-slider__title t-section-heading">
                    Welcome to KD Transport
                  </h3>
                  <p>
                    Our unique approach ensures that you get the most out of your hard work with a transparent and competitive fee structure—just 12% all-inclusive, covering company fees, dispatch services, and factoring.
                  </p>
                </li>
                <li class="splide__slide p-index-slider__slide">
                  <h3 class="p-index-slider__title t-section-heading">
                    Welcome to KD Transport
                  </h3>
                  <p>
                    What sets us apart is our focus on your earnings and flexibility. With the potential to gross between $7,000 and $12,000 weekly, depending on your home time preferences, you can tailor your work-life balance while maximizing your income.
                  </p>
                </li>
                <li class="splide__slide p-index-slider__slide">
                  <h3 class="p-index-slider__title t-section-heading">
                    Welcome to KD Transport
                  </h3>
                  <p>
                    We believe that when you succeed, we succeed, and that's why we're here to offer you the best opportunities in the industry.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-index-accelerate c-full-bg">
      <div class="c-full-bg__block h-container">
        <div class="c-full-bg__block-wrapper p-index-accelerate__wrapper">
          <h1 class="t-section-heading p-index-accelerate__title">Accelerate Your Success</h1>
          <p class="p-index-accelerate__content">
            In a rapidly changing logistics landscape, staying ahead requires innovative solutions and a supply chain that adapts to shifting market demands.  At Kd Transport LLC, our commitment is to help you accelerate your success. We focus on enhancing your operations to not only meet but exceed customer expectations, grow your business, and keep you ahead of the competition. 
            Kd Transport LLC remains a trusted and profitable carrier in the freight transportation industry, dedicated to safety and delivering exceptional results for our partners.
          </p>
          <a href="#" class="c-btn">Read More</a>
        </div>
      </div>
      <div class="c-full-bg__bg p-index-accelerate__bg" style="background-image: url('/img/home-bg-truck-3.png')"></div>
    </section>

    <section class="p-index-video">
      <div class="p-index-video__blocks h-container">
        <div class="p-index-video__block">
          <div class="p-index-video__block-video">
            <iframe src="https://www.youtube.com/embed/xXaInCadi6M" frameborder="0" loading="lazy" class="p-index-video__iframe" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="p-index-video__block">
          <h3 class="p-index-video__title t-section-heading">Delivering Fast <br/> and Safe Transportation</h3>
          <p class="p-index-video__content">
            Since day one, Kd Transport LLC has remained committed to the core principles that define our logistics and freight transportation operations. We take a personal approach to every truckload service, whether it's spot market or contract freight.  Our focus on safety and efficiency ensures that your goods are delivered swiftly and securely, every time.
          </p>
        </div>
      </div>
    </section>

    <section class="p-index-features">
      <div class="h-container">
        <div class="p-index-features__blocks">
          <div class="p-index-features__block c-card">
            <h3 class="p-index-features__title t-section-heading">Who <br/>we are</h3>
            <p class="p-index-features__content">
              At Kd Transport LLC, we are dedicated to accelerating national trade and ensuring the seamless delivery of the products and goods that power the American economy. Whether you need truckload services, supply chain consulting, or more, our knowledgeable team, proven processes, and cutting-edge technology provide unmatched connectivity, capabilities, and expertise. We are committed to sustainability and adding value to supply chains, helping our customers, drivers, and partners thrive.
            </p>
            <div class="p-index-features__btn">
              <a href="#" class="c-btn">Read More</a>
            </div>
          </div>

          <div class="p-index-features__block c-card">
            <h3 class="p-index-features__title t-section-heading">Why <br/>Choose Us?</h3>
            <p class="p-index-features__content">
              Every day, we tackle some of the most challenging supply chain problems, ensuring that disappointment and delay are never part of your experience. With a solid reputation in the logistics and transportation industry, Kd Transport LLC is focused on optimizing supply chains. By understanding and addressing the unique needs of each client, we deliver innovative solutions that help you grow your business, outpace the competition, and exceed expectations.
            </p>
            <div class="p-index-features__btn">
              <a href="#" class="c-btn">Read More</a>
            </div>
          </div>

          <div class="p-index-features__block c-card">
            <h3 class="p-index-features__title t-section-heading">What <br/>We Do</h3>
            <p class="p-index-features__content">
              Our people, processes, and technology work together to enhance transportation and supply chains, delivering exceptional value to our customers and partners. We offer a comprehensive range of freight transportation and logistics services, including logistics dispatch, commercial insurance, recruitment services, carrier connections, IT logistics solutions, and more.
            </p>
            <div class="p-index-features__btn">
              <a href="#" class="c-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-index-contacts">
      {% include "src/templates/includes/contacts.html" %}
    </section>
  </main>

  {% include "src/templates/includes/footer.html" %}
{% endblock %}
