.c-btn {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  user-select: none;
  color: var(--c-white);
  background: var(--c-yellow);
  transition: 0.2s ease-out;
  $this: &;

  @include on-event {
    text-decoration: none;
    background: darken(#F6B100, 3%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--white {
    color: #010F24;
    background: var(--c-white);

    @include on-event {
      text-decoration: none;
      color: var(--c-white);
      background: var(--c-yellow);
    }
  }

  &--block {
    display: block;
  }
}
