/**
 * Basic typography style for copy text
 */
 body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-white);
}

.t-section-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: var(--c-white);

  @include respond($bp-large) {
    font-size: 4.4rem;
    line-height: 5.2rem;
  }
}
