.l-footer {
  &__main {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;

    @include respond($bp-large) {
      display: flex;
      justify-content: space-between;
    }
  }
}
